Install only in local environment:
    python -m venv venv                 #py -3.13 -m venv myenv 
    source venv/bin/activate    #linuix
    venv/bin/activate           #windows     

Use rocminfo to check GPU and CPU for models

transcriber.py:     #only py 3.13 
    pip install "uvicorn[standard]"
    pip install openai-whisper
    pip install FastAPI
    pip install python-multipart
    Go to and follow the Windows installation instructions to insatall rust.
    pip install ffmpeg vosk pyannote.audio torch transformers numpy torchaudio silero-vad
    pip install av faster-whisper      #FOR faster-whisper


text_analysis.py:
    # AMD  -- model:Mixtral
    pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/rocm6.0
        --or pip install torch --index-url https://download.pytorch.org/whl/rocm6.0
    pip install transformers accelerate
    # Nvidea -- model:LLaMA-3 / just CPU -- model:some smaller models
    pip install torch transformers accelerate
    # to check
    python - <<EOF
    import torch
    print(torch.cuda.is_available())    #true
    print(torch.version.hip)            #non-none
    EOF
